**Question No.1** Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt?

In [1]:
#**Anwer**

test1 = 'This is a test of the emergency text system'

Noble= open('test.txt', 'wt')
Noble.write(test1)
Noble.close()

**Question No.2** Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
#**Anwer**

with open('test.txt', 'rt') as winterfell:
    test2= winterfell.read()
print(test2)

This is a test of the emergency text system

**Question No.3** Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [12]:
#**Anwer**

text = '''title,author,year
    The Weirdstone of Brisingamen, Alan Garner, 1960
    Perdido Street Station, China Miéville, 2000
    Thud!, Terry Pratchett, 2005
    The Spellman Files, Lisa Lutz, 2007
    Small Gods, Terry Pratchett, 1992
     '''
with open('books.csv', 'w') as literature:
    good= literature.write(text)
    
print(good)

225

**Question No.4** Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [14]:
#**Anwer**

import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

db.commit()

**Question No.5** Read books.csv and insert its data into the book table?

In [19]:
#**Anwer**

import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as newfile:
    books = csv.DictReader(newfile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
        
db.commit()

**Question No.6** Select and print the title column from the book table in alphabetical order.

In [20]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
     print(row)

('     ',)
('     ',)
('    Perdido Street Station',)
('    Perdido Street Station',)
('    Small God',)
('    Small God',)
('    The Spellman Files',)
('    The Spellman Files',)
('    The Weirdstone of Brisingamen',)
('    The Weirdstone of Brisingamen',)
('    Thud!',)
('    Thud!',)

**Question No.7** From the book table, select and print all columns in the order of publication?

In [22]:
#**Answer**

for row in db.execute('select * from book order by year'):
     print(row)

('     ', None, None)
('     ', None, None)
('    The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('    The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('    Small God', 'Terry Pratchett', 1992)
('    Small God', 'Terry Pratchett', 1992)
('    Perdido Street Station', 'China Miéville', 2000)
('    Perdido Street Station', 'China Miéville', 2000)
('    Thud!', 'Terry Pratchett', 2005)
('    Thud!', 'Terry Pratchett', 2005)
('    The Spellman Files', 'Lisa Lutz', 2007)
('    The Spellman Files', 'Lisa Lutz', 2007)

**Question No.8** Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [23]:
#**Answer**

import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('     ',)
('     ',)
('    Perdido Street Station',)
('    Perdido Street Station',)
('    Small God',)
('    Small God',)
('    The Spellman Files',)
('    The Spellman Files',)
('    The Weirdstone of Brisingamen',)
('    The Weirdstone of Brisingamen',)
('    Thud!',)
('    Thud!',)

**Question No.9** Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [27]:
#**Answer**


import redis
cleopatra = redis.Redis()
cleopatra.delete('test')

cleopatra.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

cleopatra.hgetall('test')

**Question No.10** Increment the count field of test and print it.

In [ ]:
#**Answer**

cleopatra.hincrby('test', 'count', 3)

cleopatra.hget('test', 'count')